{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h5>Our Ethos</h5>
            <p>GourmetToGo’s ethos is to produce gourmet, affordable food sourcing local ingredients and using local suppliers where possible. Established in 2006 with a restaurant in Dun Laoghaire, there are now 6 locations across Dublin and Galway including a state-of-the-art catering kitchen in Santry.</p>
            <h5>Flavour is (almost) everything</h5>
            <p>We believe in flavour. But we also believe in brilliant service and incredible food. Bring all three together, and you transform fantastic food into a fantastic experience, which is what we’ve been doing since we first opened our doors in 2006.</p>
            <h5>The Gourmet Team</h5>
            <p>Lewis Bambrick is Founder and CEO of GourmetToGo. Lewis is the definition of ambitious, he is tenacious, resilient and not afraid of hard work. Hailing from a small village in Co. Galway, he studied at the University College Dublin before heading off to New York for three years, working in a diverse range of food businesses. On returning to Dublin, he opened the first restaurant in Dun Laoghaire in 2006. Since then, GourmetToGo has grown into a very successful business employing over 200 people across its seven locations.</p>
        </div>
    </div>
</div>
{% endblock content %}